<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/product/cart.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/product/cart.js"></script>
<% end %>

<%
	total = 0
%>

<div class="container1">
	<article id="post-1416" class="post-1416 page type-page status-publish hentry">
		<h1 class="entry-title main_title">Giỏ Hàng</h1>
		<div class="entry-content">
			<div class="woocommerce">
				<%= form_tag '/product/update_cart', method: 'post' do %>
					<table class="shop_table shop_table_responsive cart" cellspacing="0">
						<thead>
							<tr>
								<th class="product-remove">&nbsp;</th>
								<th class="product-thumbnail">&nbsp;</th>
								<th class="product-name">Tên Sản Phẩm</th>
								<th class="product-price">Giá</th>
								<th class="product-quantity">Số Lượng</th>
								<th class="product-subtotal">Tổng Tiền</th>
							</tr>
						</thead>
						<tbody>
							<% @products.each do |product| %>
								<%
									quantity = session[:cart][product.id.to_s]
									total += product.price * quantity.to_i
								%>
								<tr class="cart_item">
									<input type="hidden" name="cart[][id]" value="<%= product.id %>">
									<td class="product-remove">
										<a href="javascript:;" class="remove delete" title="Remove this item">×</a>	
									</td>
									<td class="product-thumbnail">
										<a href="#"><img width="157" height="157"
										 src="/assets/<%= "#{product.upload_files[0].id}_#{product.upload_files[0].name}" %>"></a>					
									</td>
									<td class="product-name" data-title="Product">
										<a href="/product/detail/<%= product.id %>"><%= product.name %></a>					
									</td>
									<td class="product-price" data-title="Price">
										<span class="amount"><%= product.price %></span>					
									</td>
									<td class="product-quantity" data-title="Quantity">
										<div class="quantity">
											<input type="number" step="1" min="1" max="10" name="cart[][quantity]" 
											value="<%= quantity %>" title="Qty" class="input-text qty text">
										</div>
									</td>
									<td class="product-subtotal" data-title="Total">
										<span class="amount"><%= product.price * quantity.to_i %></span>					
									</td>
								</tr>
							<% end %>
							<tr>
								<td colspan="6" class="actions">
									<input type="submit" class="button" name="update_cart" value="Cập Nhật">			
									<input type="hidden" id="_wpnonce" name="_wpnonce" value="e84160f257">
									<input type="hidden" name="_wp_http_referer" value="#">			
								</td>
							</tr>
						</tbody>
					</table>
				<% end %>
				<div class="cart-collaterals">
					<div class="cart_totals ">
						<table cellspacing="0" class="shop_table shop_table_responsive">
							<tbody>
								<tr class="order-total">
									<th>Tổng Tiền</th>
									<td data-title="Total">
										<strong>
											<span class="amount"><%= total %></span>
										</strong> 
									</td>
								</tr>
							</tbody>
						</table>
						<div class="wc-proceed-to-checkout">
							<a href="/product/order" class="checkout-button button alt wc-forward">Đặt Hàng</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</article>
</div>

