<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/product/cart.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/product/cart.js"></script>
<% end %>

<div id="main-content">


	<div class="container">
		
			<div id="left-area">


			
				<article id="post-1417" class="post-1417 page type-page status-publish hentry">

				
					<h1 class="entry-title main_title">Kiểm Tra</h1>
				
				
					<div class="entry-content">
					<div class="woocommerce">
	



	



<form name="checkout" method="post" class="checkout woocommerce-checkout" action="http://www.elegantthemes.com/preview/Divi/checkout/" enctype="multipart/form-data">

	
		
		

		
	
	<h3 id="order_review_heading">Your order</h3>

	
	<div id="order_review" class="woocommerce-checkout-review-order">
		<table class="shop_table woocommerce-checkout-review-order-table">
	<thead>
		<tr>
			<th class="product-remove">&nbsp;</th>
			<th class="product-thumbnail">&nbsp;</th>
			<th class="product-name">Product</th>
			<th class="product-price">Giá</th>
			<th class="product-quantity">Số Lượng</th>
			<th class="product-total">Total</th>
		</tr>
	</thead>
	<tbody><%
								total = 0
							%>
							<% @products.each do |product| %>
								<%
									quantity = session[:cart][product.id.to_s]
									total += product.price * quantity.to_i
								%>
								<tr class="cart_item">
									<td class="product-remove">
										<a href="http://www.elegantthemes.com/preview/Divi/cart/?remove_item=56468d5607a5aaf1604ff5e15593b003&amp;_wpnonce=e84160f257" class="remove" title="Remove this item" data-product_id="1432" data-product_sku="">×</a>	
									</td>
									<td class="product-thumbnail">
										<a href="http://www.elegantthemes.com/preview/Divi/product/flower-pot/"><img width="157" height="157"
										 src="/assets/<%= "#{product.upload_files[0].id}_#{product.upload_files[0].name}" %>"></a>					
									</td>
									<td class="product-name" data-title="Product">
										<a href="http://www.elegantthemes.com/preview/Divi/product/flower-pot/"><%= product.name %></a>					
									</td>
									<td class="product-price" data-title="Price">
										<span class="amount"><%= product.price %></span>					
									</td>
									<td class="product-quantity" data-title="Quantity">
										<div class="quantity">
											<input type="number" step="1" min="1" max="10" name="" value="<%= quantity %>" title="Qty" class="input-text qty text">
										</div>
									</td>
									<td class="product-subtotal" data-title="Total">
										<span class="amount"><%= product.price * quantity.to_i %></span>					
									</td>
								</tr>
							<% end %>
							<tr>
								<td colspan="6" class="actions">
									<input type="submit" class="button" value="Thanh Toán">			
											
								</td>
							</tr>
						</tbody>
	
</table>



	</div>

	
</form>

</div>
					</div> <!-- .entry-content -->

				
				</article> <!-- .et_pb_post -->

			

			</div> <!-- #left-area -->

				
		
	</div> <!-- .container -->


</div>

