<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/product/detail.css">
	<link rel="stylesheet" type="text/css" href="/assets/layout/css/style.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/product/detail.js"></script>
<% end %>

<%
	@_body_class = 'single single-product postid-1426 custom-background woocommerce woocommerce-page et_pb_button_helper_class et_fixed_nav et_show_nav et_cover_background et_secondary_nav_enabled et_secondary_nav_two_panels et_pb_gutter linux et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_right_sidebar chrome'
%>



<div id="et-main-area">
	<div id="main-content">
		<div class="container1">
			<div id="content-area" class="clearfix">
				<div id="left-area">
					<div itemscope="" itemtype="http://schema.org/Product" id="product-1426" class="post-1426 product type-product status-publish has-post-thumbnail product_cat-food product_cat-shop product_tag-food featured shipping-taxable purchasable product-type-variable product-cat-food product-cat-shop product-tag-food has-default-attributes has-children instock">
						<div class="images" style="opacity: 1;">
							<a href="http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcake-saucer.jpg" itemprop="image" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto[product-gallery]">
								<img width="510" height="510" src="/assets/product/3d-nguoi-nhen.jpg" sizes="(max-width: 510px) 100vw, 510px">
							</a>
							<div class="thumbnails columns-3">
								
							</div>
						</div>
						<div class="summary entry-summary">
							<h1 itemprop="name" class="product_title entry-title"><%= @product.name  %></h1>
							<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">

								<p class="price"><span class="amount"><%= @product.price  %></span>
							</div>
							<div itemprop="description">
								<p><%= @product.description  %></p>
							</div>
							<form action="/product/add_to_cart/<%= @product.id %>" class="variations_form cart" method="post">
								<div class="single_variation_wrap">
									<div class="woocommerce-variation-add-to-cart variations_button">
										<%
											quantity = 1
											if session[:cart].present? && session[:cart].has_key?(@product.id.to_s)#sp co trog gio hang
												quantity = session[:cart][@product.id.to_s]#so luong =sl da co trong ghang

											end
										%>
										<div class="quantity">
											<input value="<%= quantity %>" type="number" step="1" min="1" max="10" name="quantity" title="Qty" class="input-text qty text">
										</div>
										<button type="submit" class="single_add_to_cart_button button alt">Thêm vào giỏ hàng</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>