<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/product/list.css">
	
	<link rel="stylesheet" type="text/css" href="/assets/layout/css/woooo.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/product/list.js"></script>
<% end %>

<div class="et_pb_section  et_pb_section_1 et_pb_with_background et_section_regular">
	<div class=" et_pb_row et_pb_row_0">
		<div class="et_pb_column et_pb_column_4_4  et_pb_column_0">	
			<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_0">
				<h1>Sản Phẩm</h1>
			</div> 
		</div> 	
	</div> 
	<div class=" et_pb_row et_pb_row_1">
		<div class="et_pb_column et_pb_column_4_4  et_pb_column_1">
			<div class="et_pb_module et_pb_shop  et_pb_shop_0 et_pb_shop_grid">
				<div class="woocommerce columns-0">
					<ul class="products">
						<% @products.each do |product| %>
							<li class="first post-1426 product type-product status-publish has-post-thumbnail product_cat-food product_cat-shop product_tag-food featured shipping-taxable purchasable product-type-variable product-cat-food product-cat-shop product-tag-food has-default-attributes has-children instock">
								<a href="/product/detail/<%= product.id %>">
									<span class="et_shop_image">
										<img width="400" height="400" src="/assets/<%= "#{product.upload_files[0].id}_#{product.upload_files[0].name}" %>" />
										<span class="et_overlay"></span>
									</span>
									<h3><%= product.name %></h3>
									<span class="price">
										<span class="amount"><%= product.price %></span>
									</span>
								</a>
							</li>
						<% end %>							
					</ul>		
				</div>
			</div>
		</div>

		<%= will_paginate @products, previous_label: '« Trang trước', next_label: 'Trang sau »' %>
	</div> 
</div>


								
						
						