<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/product/up.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/product/up.js"></script>
<% end %>

<% content_for :page_heading do %>
	<h1>
		Sản phẩm
		<small>Thêm</small>
	</h1>
<% end %>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Sản phẩm</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<%= form_for @product, builder: ApplicationFormBuilder, url: ('/product/up/' + @product.id.to_s), method: 'post', html: { class: 'init-form' } do |f| %>
		<div class="box-body">
			<%=
				f.field(
					'text',
					:name,
					{
						placeholder: 'Tên Sản Phẩm'
					}, 
					{
						label: 'Tên Sản Phẩm'
					}
				)
			%>
			<%=
				f.field(
					'number',
					:price,
					{
						placeholder: 'Giá'
					}, 
					{
						label: 'Giá'
					}
				)
			%>
			<%=
				f.field(
					'select',
					:category_id,
					{
					}, 
					{
						label: 'Loại',
						select_options_list:
							Category.all.map{ |category| [category.name, category.id] }
					}
				)
			%>
			<%=
				f.field(
					'select',
					:color_id,
					{}, 
					{
						label: 'Màu sắc',
						select_options_list:
							Color.all.map{ |color| [color.name, color.id] }
					}
				)
			%>
			<%=
				f.field(
					'select',
					:size_id,
					{}, 
					{
						label: 'Kích thước',
						select_options_list:
							Size.all.map{ |size| [size.size, size.id] }
					}
				)
			%>
			<%=
				f.field(
					'textarea',
					:description,
					{
						placeholder: 'Mô tả'
					},
					{
						label: 'Mô tả'
					}
				)
			%>
			<%=
				f.field(
					'file',
					:upload_file_ids,
					{},
					{
						label: 'Hình ảnh',
						error_key: :upload_files,
						input_quantity: 3,
						files: @product.upload_files
					}
				)
			%>
		</div>
		<div class="box-footer">
			<button type="submit" class="btn btn-primary">
				<% if @product.new_record? %>
					Thêm sản phẩm
				<% else %>
					Cập nhật sản phẩm
				<% end %>
			</button>
		</div>
	<% end %>
</div>