<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/user/register.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/user/register.js"></script>
<% end %>

<% content_for :page_heading do %>
	<h1>
		Đăng ký
		<small>Tài khoản</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="/"></i> Trang chủ</a></li>
		<li class="active">Đăng ký tài khoản</li>
	</ol>
<% end %>

<% @users.each do |user| %>
	<% next %>
	<ul>
		<li>
			ID: <%= user.id %>
		</li>
		<li>
			Name: <%= user.name %>
		</li>
		<li>
			Email: <%= user.email %>
		</li>
	</ul>
<% end %>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Thông tin tài khoản</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<%= form_for @user, builder: ApplicationFormBuilder, url: ('/user/register/' + @user.id.to_s), method: 'post' do |f| %>
		<div class="box-body">
			<%=
				f.field(
					'email',
					:email,
					{
						placeholder: 'Email'
					}, 
					{
						label: 'Email'
					} 
				)
			%>
			<%=
				f.field(
					'password',
					:password,
					{
						placeholder: 'Mật khẩu'
					}, 
					{
						label: 'Mật khẩu'
					}
				)
			%>
			<%=
				f.field(
					'password',
					:repeat_password,
					{
						placeholder: 'Nhập lại mật khẩu'
					}, 
					{
						label: 'Nhập lại mật khẩu'
					}
				)
			%>
			<%=
				f.field(
					'text',
					:name,
					{
						placeholder: 'Họ và tên'
					}, 
					{
						label: 'Họ và tên'
					}
				)
			%>
			<%=
				f.field(
					'date',
					:birthday,
					{
						placeholder: 'Ngày sinh'
					}, 
					{
						label: 'Ngày sinh'
					}
				)
			%>
			<%=
				f.field(
					'textarea',
					:address,
					{
						placeholder: 'Địa chỉ'
					}, 
					{
						label: 'Địa chỉ'
					}
				)
			%>
			<%=
				f.field(
					'number',
					:number_phone,
					{
						placeholder: 'Số điện thoại'
					}, 
					{
						label: 'Số điện thoại'
					}
				)
			%>
		</div>
		<div class="box-footer">
			<%= f.submit 'Đăng ký', class: 'btn btn-primary' %>
		</div>
	<% end %>
</div>