<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/user/register.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/user/register.js"></script>
<% end %>

<%= form_for @user, builder: ApplicationFormBuilder, url: ('/user/register/' + @user.id.to_s), method: 'post' do |f| %>
	<%=
		f.field(
			'email',
			:email,
			{
				placeholder: 'Email'
			}, 
			{
				label: 'Email'
			} 
		)
	%>
	<%=
		f.field(
			'password',
			:password,
			{
				placeholder: 'Mật khẩu'
			}, 
			{
				label: 'Mật khẩu'
			}
		)
	%>
	<%=
		f.field(
			'password',
			:pasword_confirmation,
			{
				placeholder: 'Nhập lại mật khẩu'
			}, 
			{
				label: 'Nhập lại mật khẩu'
			}
		)
	%>
	<%=
		f.field(
			'text',
			:name,
			{
				placeholder: 'Họ và tên'
			}, 
			{
				label: 'Họ và tên'
			}
		)
	%>
	<%=
		f.field(
			'date',
			:birthday,
			{
				placeholder: 'Ngày sinh'
			}, 
			{
				label: 'Ngày sinh'
			}
		)
	%>
	<%=
		f.field(
			'textarea',
			:address,
			{
				placeholder: 'Địa chỉ'
			}, 
			{
				label: 'Địa chỉ'
			}
		)
	%>
	<%=
		f.field(
			'number',
			:number_phone,
			{
				placeholder: 'Số điện thoại'
			}, 
			{
				label: 'Số điện thoại'
			}
		)
	%>
	<div class="text-center">
		<%= f.submit 'Đăng ký', class: 'btn btn-primary btn-flat' %>
	</div>
<% end %>
